@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-neutral-900;
	@apply dark:text-gray-200;
	@apply dark:bg-black;
	@apply overflow-x-hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.hover-link {
	@apply transition-all duration-300 hover:text-blue-500 dark:hover:text-blue-400;
}

.page-container {
	@apply container mx-auto px-4 pt-16;
}
