@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply overflow-x-hidden 
	text-neutral-900 
	dark:bg-black 
	dark:text-neutral-200;
}

select {
	background-color: transparent;
	border: none;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	line-height: inherit;
}

option {
	@apply bg-neutral-200 
	text-neutral-900
	dark:bg-neutral-800 
	dark:text-neutral-200;
}

.hover-link {
	@apply transition-all duration-300 hover:text-orange-600 dark:hover:text-orange-400;
}

.page-container {
	@apply container mx-auto px-4 pt-20;
}
